# Data Making

In [2]:
#making tabular data using dictionary:
my_dictionary={"Name":['Jason Momoa', 'Emilia Clark', 'Kit Harrington', 'Sophie Turner'],
               "Age":['44', '37', '37', '28'],
               "Roles":['Drogo', 'Daenerys', 'Jon Snow', 'Sansa Stark']}

import pandas as pd

my_data=pd.DataFrame(my_dictionary)
my_data

             Name Age        Roles
0     Jason Momoa  44        Drogo
1    Emilia Clark  37     Daenerys
2  Kit Harrington  37     Jon Snow
3   Sophie Turner  28  Sansa Stark